node_modules/
npm-debug.log*


.env
.env.stage
.env.teste


logs
*.log
log.txt
logs/
debug.log
output.log

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

dist/
out/
build/
.cache/

prisma/dev.db
prisma/stage.db
prisma/dev.db-journal
prisma/stage.db-journal
prisma/migrations/
